:root{
  --bg: #0d0d0f;
  --surface: #1b1b1e;
  --text: #ff0000;
  --muted: #9aa0a6;
  --accent: #ff0000;
  --danger: #710316;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
}

/*Whole screen*/
.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    background: var(--bg);
}

/* ---------- Header ---------- */
.nav-list{
    margin: 15px;
}

.header{
    background-color: var(--surface);
    text-align: center;
}

.header h1{
    margin: 1vw;
    font-size: 60px;
    color: #d80000
}

.header a{
    text-decoration: none;
    background-color: var(--danger);
    color: black;

    margin: 5vw;
    font-size: 30px;
}

.header a:hover{
    background: var(--accent);
    color: #00110e;
    box-shadow: 0 0 12px var(--accent);
}

.header ul{
    display: flex;
    justify-content: center;
    padding: 0px;
}

.header li{
    padding-inline-start: 0px;
    list-style: none;
}

#active {
    background: var(--accent);
    color: #00110e;
    box-shadow: 0 0 12px var(--accent);
}

@media (max-width: 420px){
    .header a{
        margin: 10px;
    }
}

/* ---------- Main ---------- */
.main{
    text-align: center;
    background-color: var(--bg);
    color: var(--text);
    padding: 0px;
}

.main p{
    font-size: 2rem;
    margin: 20px;
}

.main h2{
    font-size: 4rem;
    margin: 20px;
}

.main a{
    font-size: 2rem;
}

.main a:hover{
    color: var(--text);
}

.page-desc{
    font-size: 2rem;
}

.main ul{
    padding: 0px;
}

.main li{
    padding-inline-start: 0px;
    list-style: none;
}


/* ---------- Footer ---------- */
.container>.footer {
    display: flex;
    justify-content: center;
    background: var(--surface);
    color: var(--text);
    gap: 20px;
}

.leftfooter {
    align-self: center;
}

.leftfooter p {
    font-size: 24px;
}

.rightfooter h2,
.rightfooter h4 {
    margin: 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}