:root{
  --bg: #0d0d0f;
  --surface: #1b1b1e;
  --text: #ff0000;
  --muted: #9aa0a6;
  --accent: #ff0000;
  --danger: #710316;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    box-sizing: border-box;
}

/*Whole screen*/
.container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    gap: 5px;
    background: var(--bg);
}

.main-wrap {
  grid-area: main;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
  color: white;
}

/* ---------- Header ---------- */
.header{
    grid-area: header;
    background-color: var(--surface);
    text-align: center;
    position: sticky;
    align-self: start;
    top: 0;  
}

.nav-list{
    margin: 15px;
}

.header h1{
    margin: 1vw;
    font-size: 60px;
    color: #d80000
}

.header a{
    text-decoration: none;
    background-color: var(--danger);
    color: black;

    margin: 5vw;
    font-size: 30px;

    padding: 0.2rem 0.2rem;
    border-radius: 8px;
}

.header a:hover{
    background: var(--accent);
    color: #00110e;
    box-shadow: 0 0 12px var(--accent);
}

#active {
    background: var(--accent);
    color: #00110e;
    box-shadow: 0 0 12px var(--accent);
}

.header ul{
    display: flex;
    justify-content: center;
    padding: 0px;
}

.header li{
    padding-inline-start: 0px;
    list-style: none;
}

@media (max-width: 420px){
    .header a{
        margin: 10px;
    }
}

/* ---------- Main ---------- */
.posts{
    color: var(--text);
    max-width: 100%;
    margin: 1rem auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.text h1, .text h2{
    text-align: center;
}

.text a{
    display: block;
    text-align: center;
    font-size: 1rem;
    padding: 0 0 10px;
}

.comments h1{
    text-align: center;
}

.posts p{
    padding: 0 20px 10px;
}

.textAndComments {
    background-color: var(--surface);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 15px;
    gap: 1rem;
}

.text { 
    flex: 3; 
}

.comments { 
    flex: 1; 
    overflow: hidden;
    overflow-y: auto;
    max-height: 14rem;
}

.comments h1{
    font-size: 2vw;
}

.comments h2{
    font-size: 1.5vw;
}

.comments p{
    font-size: 1vw;
}

.commentsDetails h4{
    margin: 0;
}

.commentsDetails p{
    padding: 0 20px 0px;
}

#profileDialog::backdrop {
    background: rgba(0,0,0,0.6);
}

#profileDialog {
    border: none;
    outline: none;
    padding: 0;
}

.profileBox {
    background: var(--surface);
    color: var(--text);
    border-radius: 15px;
    padding: 1.25rem;
}

.profileBox h2{
    text-align: center;
    text-decoration: underline;
}

.loadMoreWrapper {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 20px;
    margin-bottom: 40px;
}

.loadMoreWrapper button {
    background-color: #202020;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

@media (max-width: 1800px){
    .comments{
        max-height: 15rem;
    }
}

@media (max-width: 1024px){
    .textAndComments{
        display: block;
    }

    .comments{
        margin: 20px;
    }

    .comments h1, .comments h2{
        font-size: 2rem;
    }
    .comments p{
        font-size: 1.5rem;
    }
}
@media (max-width: 420px){
    .posts{
        max-width: 60%;
        margin: 0 auto;
    }
}

/* ---------- Footer ---------- */
.container>.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background: var(--surface);
    color: var(--text);
    gap: 20px;
}

.leftfooter {
    align-self: center;
}

.leftfooter p {
    font-size: 24px;
}

.rightfooter h2,
.rightfooter h4 {
    margin: 0;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}